nav{
    background: rgb(102, 184, 44);
    display: flex;
    padding: 2vh;
    box-shadow: 3px 3px 3px 3px rgb(48, 86, 21);
}

.tittle{
    margin-left: 3vh;
    align-content: center;
    margin-top: 3vh;
}

.display-menu{
    display: flex;
}